#technos {
  color: green;
}

.tools {
  text-align: center;
  padding: 30px;
  background: -webkit-radial-gradient(white, #EDEDED); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(white, #EDEDED); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(white, #EDEDED); /* For Firefox 3.6 to 15 */
  background: radial-gradient(white, #EDEDED); /* Standard syntax */
}

#technos img {
  opacity: 0.6;
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 200px;
  margin: 20px;
  border: 0px;
  transition: all .2s ease-in-out;
}

#technos img:hover {
  transform: scale(1.1);
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 20px;
}
