#loupe {
  height: auto;
  width: auto;
  max-height: 150px;
}

.marketing h4 {
  color: black;
}

#selected-image {
  border: 0px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  max-height: 300px;
  max-width: 300px;
  display: none;
}

#input-1, .col-content {
  margin-top: 10px;
}

#iconSearch {
  margin-left: 15px;
}

.centered {
  text-align: center;
}

#input-1 {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
