<div id="technos">

  <h4>Website powered by</h4>

  <div class="jumbotron tools">
    <a target="_blank" href="http://www.w3.org/"><img src="../assets/technos/html.png"></a>
    <a target="_blank" href="http://www.w3.org/"><img src="../assets/technos/css.png"></a>
    <a target="_blank" href="https://angularjs.org/"><img src="../assets/technos/angular.png"></a>
    <a target="_blank" href="http://getbootstrap.com/"><img src="../assets/technos/bootstrap.png"></a>
    <a target="_blank" href="https://nodejs.org/"><img src="../assets/technos/node_black.png"></a>
  </div>

  <h4>Intelligence powered by</h4>

  <div class="jumbotron tools">
    <a target="_blank" href="http://www.cplusplus.com/"><img src="../assets/technos/cpp.png"></a>
    <a target="_blank" href="http://opencv.org/"><img src="../assets/technos/opencv.png"></a>
  </div>

  <h4>Software development tools used</h4>

  <div class="jumbotron tools">
    <a target="_blank" href="http://yeoman.io/"><img src="../assets/technos/yeoman.png"></a>
    <a target="_blank" href="http://bower.io/"><img src="../assets/technos/bower.png"></a>
    <a target="_blank" href="http://gruntjs.com/"><img src="../assets/technos/grunt.png"></a>
    <a target="_blank" href="https://www.npmjs.com/"><img src="../assets/technos/npm.png"></a>
  </div>

</div>
