<div id="technos">

  <h4>Website powered by</h4>

  <div class="jumbotron tools">
    <img src="images/technos/html.png">
    <img src="images/technos/css.png">
    <img src="images/technos/angular.png">
    <img src="images/technos/bootstrap.png">
    <img src="images/technos/node_black.png">
  </div>

  <h4>Intelligence powered by</h4>

  <div class="jumbotron tools">
    <img src="images/technos/cpp.png">
    <img src="images/technos/opencv.png">
  </div>

  <h4>Software development tools used</h4>

  <div class="jumbotron tools">
    <img src="images/technos/yeoman.png">
    <img src="images/technos/bower.png">
    <img src="images/technos/grunt.png">
    <img src="images/technos/npm.png">
  </div>

</div>
