<div style="text-align: center">
  <img id="plante" src="images/plante.png" alt="plante">
</div>

<div class="row marketing">
  <h4>Les services</h4>

  <p>
    Cette application vous permet de connaître l'espèce d'une plante à partir d'une simple photo et d'obtenir des
    informations à son sujet.
  </p>

  <p>
    Rendez-vous sur le moteur de recherche, uploadez votre image, sélectionnez l'organe présent sur l'image et lancez la
    recherche.
  </p>

  <h4>Le fonctionnement</h4>

  <p>
    Une base d'apprentissage d'images permet au moteur de recherche de mémoriser les caratéristiques de très nombreuses
    espèces. Ensuite, lorsqu'une recherche est effectuée, le moteur va comparer les caractéristiques de l'image fournie
    avec celles qu'il connaît déjà. L'espèce présentant le plus de similitudes est proposée à l'utilisateur.
  </p>

  <p>
    Pour cela, plusieurs outils informatiques et mathématiques sont utilisés. Parmi eux, nous pouvons citer les
    descripteurs <i>SIFT</i> (Scale-Invariant Feature Transform), l'algorithme <i>k-means</i> ou encore les
    classificateurs <i>SVM</i>
    (Support Vector Machine).
  </p>

  <h4>Les contributeurs</h4>

  <p>
    <b>Mohamed ISSOLAH</b>
    <br>
    <i>KIS (Knowledge and Information System)
    <br>
    Polytech Nice-Sophia</i>
  </p>

  <p>
    <b>Vincent MONTALIEU</b>
    <br>
    <i>GMD (Génie Multimédia pour les Données massives)
    <br>
    Polytech Nice-Sophia</i>
  </p>
</div>
