<div class="centered">
  <img id="loupe" src="../assets/loupe.png" alt="plante">
</div>

<div class="row marketing">

  <form action="http://134.59.132.75:3000/recog/upload/" method="post" id="imageForm" runat="server" enctype="multipart/form-data">

    <div class="centered col-md-4">
      <label class="control-label">1. Sélectionnez une photo à analyser</label>
      <input ng-model="image" accept=".jpg" id="input-1" type="file" name="image" class="file"/>
      <img id="selected-image" src="#" alt="your image"/>
    </div>

    <div class="centered col-md-4">
      <label class="control-label">2. Précisez l'organe présent sur votre photo</label>

      <div class="col-content">
        <select ng-model="selectedOrgan" name="organ">
          <option ng-repeat="organ in organs" value="{{organ}}">{{organ}}</option>
        </select>
      </div>
    </div>

    <div class="centered col-md-4">
      <label class="control-label">3. Lancez l'analyse !</label>
      <div class="col-content">
          <input ng-href="#/recog" class="btn btn-md btn-success" type="submit" value="Analyser ma photo"/>
      </div>
    </div>

  </form>

</div>
