<div style="text-align: center">
  <img id="loupe" src="images/loupe.png" alt="plante">
</div>

<div class="row marketing">

  <form id="imageForm" runat="server">

    <div class="col-md-4">
      <label class="control-label">1. Sélectionnez une photo à analyser</label>
      <input accept=".jpg" id="input-1" type="file" class="file"/>
      <img id="selectedImage" src="#" alt="your image" ng-hide="imageLoaded"/>
    </div>

    <div class="col-md-4">
      <label class="control-label">2. Précisez l'organe présent sur votre photo</label>

      <div class="colContent">
        <select name="cars">
          <option value="volvo">Feuille</option>
          <option value="saab">Fleur</option>
          <option value="opel">Tronc</option>
          <option value="audi">Branche</option>
        </select>
      </div>
    </div>

    <div class="col-md-4">
      <label class="control-label">3. Lancez l'analyse !</label>

      <div class="colContent">
        <button class="btn btn-md btn-success">Analyser ma photo<span id="iconSearch" class="glyphicon glyphicon-search"></span></button>
      </div>
    </div>

  </form>

</div>
